.div{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
  font-weight: bold;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.usTitle{
  border-top: 0;
  margin-top: 0;
  font-family: Arvo;
  color: white;
  background-color: #222;
  padding: 0 0.3em;
}
