body {
background-image: url('https://images.pexels.com/photos/248159/pexels-photo-248159.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

body {
    background-size: cover;
    border: 5px solid red;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
.titlePage{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 39px;
  letter-spacing: 1.8px;
  word-spacing: 1.8px;
  color: white;
  font-weight: 700;
  text-decoration: overline solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  text-align: center;
  border: 5px solid blue;
}
.homePage{
  text-align: center;
  color: white;
  border-color: white;
  border: 5px solid white;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}
